<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NodeJS news Application</title>
</head>
<body>
<p>Routes can be used on this page:</p>
<ul>
    <li>GET /news</li>
    <li>GET /news/{id}</li>
    <li>POST /news</li>
    <li>PUT /news/{id}</li>
    <li>DELETE /news/{id}</li>
</ul>
</body>
</html>
